<!DOCTYPE html>
<html>
    <head>
        <title>App Numba Two</title>
    </head>
    <body>
        <h1>Home</h1>
        <form method="POST" action="/results">
            <p>Enter your github name:
            <input name="github" /></p>
            <p>Enter your girlfriend's name here: 
                <input name="bae" />
            </p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>