<!DOCTYPE html>
<html>
    <head>
        <title>App Numba Two</title>
    </head>
    <body>
        <h1>Results</h1>
        <h3><%= myData.name %> is in love with <%= myBoo %></h3>
        <h3>My bio is: <%= myData.bio %></h3>
        <h3>My login is: <% %></h3>
        <h3>Info: <%= JSON.stringify(myData, null, 2) %></h3>
    </body>
</html>